@model IEnumerable<Cliente.Models.Pedidos>
@using Cliente.Utils;
@using Cliente.Enum;

@{
    ViewBag.Title = "Listar";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        background-color: aliceblue;
    }
    th {
        background-color: orange;
    }
    td{
        background-color: lightyellow;
    }
    form {
        background-color: lightyellow;
    }
</style>
</head>
<body>
    @if (ViewBag.CPF != null)
    {
        <h2 align="center">Meus Pedidos - @ViewBag.CPF</h2>
    }
    else
    {
        <h2>Meus Pedidos</h2>
    }
    <br />
    <div class="text-center" align="center">
        @Html.ActionLink("Novo pedido", "NovoPedido", new { cpf = ViewBag.CPF }, new { @class = "btn btn-success btn-lg" })
    </div>
    <br />
    <form method="get" action="/Pedidos/Listar" align="center">
        <fieldset>
            <legend>Selecione os status:</legend>
            <label>
                <input type="checkbox" name="status" value="1">
                <span class="checkmark"></span> Feito
            </label>

            <label>
                <input type="checkbox" name="status" value="2">
                <span class="checkmark"></span> Entregue
            </label>

            <label>
                <input type="checkbox" name="status" value="3">
                <span class="checkmark"></span> Cancelado
            </label>

            <label>
                <input type="checkbox" name="status" value="4">
                <span class="checkmark"></span> Avaliado
            </label>

            <label>
                <input type="checkbox" name="status" value="5">
                <span class="checkmark"></span> Devolvido Cliente
            </label>

            <label>
                <input type="checkbox" name="status" value="6">
                <span class="checkmark"></span> Devolvido Transportadora
            </label>

            <label>
                <input type="checkbox" name="status" value="7">
                <span class="checkmark"></span> Devolvido Vendedor
            </label>

            <label>
                <input type="checkbox" name="status" value="8">
                <span class="checkmark"></span> Devolvido com Sucesso
            </label>

            <label>
                <input type="checkbox" name="status" value="9">
                <span class="checkmark"></span> Enviado
            </label>

            <label>
                <input type="checkbox" name="status" value="10">
                <span class="checkmark"></span> Devolução Aceita
            </label>

            <label>
                <input type="checkbox" name="status" value="11">
                <span class="checkmark"></span> Em Transporte
            </label>
 
        </fieldset>
        <br />
        <button class="btn btn-primary btn-lg" type="submit">Filtrar</button>

        <button class="btn btn-primary btn-lg" type="submit">Limpar Filtro</button>
    </form>

    <br /><br />

    <table class="table table-striped" style="width:100%" border="1px">
        <thead>
            <tr>
                <th>
                    <b>Código</b>
                </th>

                <th>
                    <b>Cliente</b>
                </th>

                <th>
                    <b>Produto</b>
                </th>

                <th>
                    <b>Quantidade</b>
                </th>

                <th>
                    <b>Status</b>
                </th>

                <th>
                    <b>Cancelar/Confirmar Entrega</b>
                </th>

                <th>
                    <b>Devolver Pedido</b>
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <a href="@Url.Action("HistoricoPedidoCliente", "Pedidos", new { id = item.Cod })"> @Html.DisplayFor(modelItem => item.Cod) </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayEnumFor(modelItem => item.Status)
                    </td>
                    <td>

                        @if (item.Status == 2)
                        {
                            <button type="button" class="btn btn-success btn-lg">@Html.ActionLink("Confirmar Entrega", "ConfirmarPedidoEntregue", new { id = item.Cod }, new { @class = "text-white", style = "text-decoration: none;" })</button>
                        }

                        @if (item.Status == 1)
                        {
                            <button type="button" class="btn btn-danger btn-lg">@Html.ActionLink("Cancelar Entrega", "CancelarPedidoNaoEnviado", new { id = item.Cod }, new { @class = "text-white", style = "text-decoration: none;" })</button>
                        }

                    </td>
                    <td>
                        @if (item.Status == 2 && item.IsEnviar == true)
                        {
                            <button class="btn btn-warning btn-lg" type="button" onclick="location.href='@Url.Action("DevolverPedido", new { id = item.Cod })'">Devolver Pedido</button>
                        }


                    </td>
                </tr>

            </tbody>
        }
    </table>
</body>
</html>

