@model Cliente.Models.Usuario

@{
    ViewBag.Title = "NovoCliente";
}

<style>
    .text-danger {
        color: red;
    }
    .alert-success {
        color: green;
    }
</style>

<div class="my-div-class">
    @Html.ActionLink("Voltar", "Index", "Home", new { cpf = ViewBag.CPF }, new { @class = "btn btn-primary btn-lg" })
    @if (ViewBag.MensagemErro != null)
    {
        <h1 align="center" style="color:red">
            <div class="alert alert-danger">@ViewBag.MensagemErro</div>
        </h1>
    }
</div>

@if (!String.IsNullOrEmpty(ViewBag.MensagemSucesso))
{
    <h1>
        <div class="alert alert-success" align="center">@ViewBag.MensagemSucesso</div>
    </h1>
}



<h2 align="center">Cadastrar Cliente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" align="center">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Cpf,"CPF:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <br>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-success btn-lg" />
            </div>
        </div>
    </div>
}
<br />

