
@{
    ViewBag.Title = "Index";
}

<h2>Módulo Transportadora</h2>
<br />
<br />
@Html.ActionLink("Pedidos a Retirar", "../Pedidos/RetirarPedidos")
<br />
<br />
@Html.ActionLink("Pedidos a Entregar", "../Pedidos/EntregarPedidos")
<br />
<br />
@Html.ActionLink("Pedidos Entregues", "../Pedidos/PedidosEntregues")
<br />
<br />
@Html.ActionLink("Pedidos Devolvidos a Coletar", "../Pedidos/ListaDevolvidosCliente")
<br />
<br />
@Html.ActionLink("Pedidos Devolvidos a Entregar para Vendedora", "../Pedidos/ListaDevolvidosVendedor")
<br />
<br />
@Html.ActionLink("Pedidos Devolvidos a Vendedora", "../Pedidos/ListaDevolvidosEntregueVendedor")
